/*Datos personales Elías Fernández Medina - UO299673*/

/*Estilos generales del proyecto MotoGP-Desktop*/

/*Establece la fuente Arial para todo el cuerpo del documento */
/*Especificidad 001 */
body{
    font-family: "Arial", sans-serif;
    background-color: #050A30;
    color: #FFFFFF;
}
/*Especificidad 001*/
header{
    background-color: #0000FF;
}
/*Especificidad 002*/
header a{
    color: #FFFFFF;
    text-decoration: none;
}
/*Especificidad 012*/
header a:hover{
    color: #FFFF00;
    
}
/*Especificidad 001*/
h1{
    color: #FFFFFF;
}
/*Especificidad 012*/
p a:first-of-type{
   color: #FFFFFF;
   font-size: larger;
}
/*Especificidad 012*/
p a:hover{
    color: #FFFF00;
}
/*Especificidad 001*/
.active{
    color: #FFFFFF;
}
/*Especificidad 002*/
.active a{
   color: #FFFFFF;
}
/*Especificidad 012*/
.active a:hover{
    color: #FFFF00;
}




