/*Datos personales Elías Fernández Medina - UO299673*/

/*Estilos generales del proyecto MotoGP-Desktop*/

/*Establece la fuente Arial para todo el cuerpo del documento */
/*Especificidad 001 */
body{
    font-family: "Arial", sans-serif;
    background-color: #050A30;
    color: #FFFFFF;
}
/*Especificidad 001*/
header{
    background-color: #0000FF;
}
/*Especificidad 002*/
header a{
    color: #FFFFFF;
    text-decoration: none;
}
/*Especificidad 012*/
header a:hover{
    color: #FFFF00;
    
}
/*Especificidad 001*/
h1{
    color: #FFFFFF;
}
/*Especificidad 012*/
p a:first-of-type{
   color: #FFFFFF;
   font-size: larger;
}
/*Especificidad 011*/
p:first-of-type{
     color: #FFFFFF;
   font-size: larger;
}
/*Especificidad 012*/
p a:hover{
    color: #FFFF00;
}
/*Especificidad 001*/
.active{
    color: #FFFFFF;
}
/*Especificidad 002*/
.active a{
   color: #FFFFFF;
}
/*Especificidad 012*/
.active a:hover{
    color: #FFFF00;
}
/*Especificidad 001*/
Video,audio {
 width:100%;
 height:auto;
}

/*Especificidad 011*/
audio[controls]{
    display: block; /* fuerza que se muestre como caja visible */
    box-sizing: border-box;
    min-height: 2.5rem; /* deja un alto mínimo para los controles */
    width: 100%; /* mantener ancho completo como la regla general */
}




