/*Especificidad 001*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*Especificidad 001*/
nav{
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 
    align-items: center;
}
/*Especificidad 002*/
nav a{
    display:flex;
    flex-direction: row;
}
@media (min-width: 320px) and (max-width: 799px) {
    /*Especificidad 001*/
    header,h1,nav,nav a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Especificidad 012*/
    p a:first-of-type{
        display: none;
    }  
    /*Especificidad 011*/ 
    p:first-of-type{
        display: none;
    }
}
